.NavigationItem {
  margin: 0px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.NavigationItem a {
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 12px;
  color: white;
  height: 100%;
  padding: 13px 10px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  background: rgb(33, 89, 104);
  color: white;
}